<div class="">
  <h1>
    Информация о программе
    «Участник молодежного научно-инновационного конкурса» («УМНИК»)
  </h1>
  <p>
    Основная цель программы «УМНИК» - поддержка молодых учёных,
    стремящихся реализоваться через инновационную деятельность,
    и стимулирование массового участия молодежи в научно-технической
    и инновационной деятельности, а также стимулирование молодых ученых
    и специалистов к созданию малых инновационных предприятий,
    необходимых для коммерциализации результатов научных разработок.
  </p>
  <p>
    Каждый победитель программы получает по 500 тыс. рублей на два года
    (включая отчисления, предусмотренные законодательством РФ).
  </p>
  <p>
    Фонд финансирует выполнение проектов,
    направленных на проведение исследований в области научно-исследовательских
    и опытно-конструкторских разработок (НИОКР) победителей программы.
  </p>
  <p>
    Участниками Программы могут быть физические лица,
    имеющие российское гражданство,
    от 18 до 30 лет включительно на момент заключения госконтракта
    (студенты, аспиранты, молодые исследователи),
     отобранные на аккредитованных Фондом мероприятиях
     (конференции, конкурсы, семинары, научные школы).
  </p>
  <h2>
    Отбор участников Программы осуществляется на основании представляемых
    соискателями материалов и докладов по следующим направлениям:
  </h2>
  <ul>
    <li>
      H1 Информационные технологии
    </li>
    <li>
      H2 Медицина и технологии здоровьесбережения
    </li>
    <li>
      H3 Новые материалы и химические технологии
    </li>
    <li>
      Н4 Новые приборы и интеллектуальные производственные технологии
    </li>
    <li>
      Н5 Биотехнологии
    </li>
    <li>
      Н6 Ресурсосберегающая энергетика
    </li>
  </ul>
  <h2>
    Проекты, представленные участниками Программы,
    должны отвечать следующим критериям:
  </h2>
  <ul>
    <li>
      Новизна и актуальность;
    </li>
    <li>
      Техническая значимость продукции или технологии;
    </li>
    <li>
      Реальность коммерческой реализации проекта.
    </li>
  </ul>
  <p>
    Срок проведения программы 2 года.
    Решение о продолжении участия (переходе) на второй год
    принимается Экспертным Советом при Представительстве Фонда в каждом регионе
    по результатам работы победителя программы в течение первого года
    при условии выполнения всех требований программы.
  </p>
  <p>
    <b>
      Данная система предназначена для автоматизации
      процесса подсчёта рейтинга участников программы "УМНИК"
    </b>
  </p>
</div>
