<div class="">
  <h1>Как пользоваться?</h1>
  <p>
    Для использования системы необходимо зарегистрироваться в
    <%= link_to 'личном кабинете ТУСУР',
        "#{Settings['profile.url']}#{Settings['profile.sign_up_url']}",
        target: :_blank %>. После этого, в течение нескольких минут Вы получите письмо
    с инструкциями по подтверждению Вашей учётной записи.
  </p>
  <p>
    Если у вас появились вопросы, можете задать их
    <%= link_to 'здесь',
        "#{Settings['profile.url']}#{Settings['profile.question_url']}",
        target: :_blank %>.
  </p>
</div>
