.contests-list
  .contests-list-table
    margin-top: 40px

    table
      width: 100%
      font-size: 18px

      tr
        &:nth-child(odd)
          background: #F2F2F2

        td
          padding: 5px 10px

          &:last-child
            text-align: right

.criterions-list, .nominations-list
  margin-top: 40px
  font-size: 18px

.marks-table-wrapper
  overflow: auto
  width: 100%

  table
    width: 100%
    font-size: 16px
