.contests-list
  .contests-list-table
    margin-top: 40px

    table
      width: 100%
      font-size: 18px

      tr
        &:nth-child(odd)
          background: #F2F2F2

        td
          padding: 5px 10px

          &:last-child
            text-align: right

.criterions-list, .nominations-list
  margin-top: 40px
  font-size: 18px

.marks-wrapper
  h2
    font-size: 24px
    margin-bottom: 15px

  .left-menu-nav
    li
      width: 100%

    a
      color: #005DA6
      display: block

      &:hover
        color: #0056b3

  .marks-table-wrapper
    overflow: auto
    width: 100%

    table
      width: 100%
      font-size: 14px

      th
        text-align: center
