<div class='subtop-header'>
  <div class='container'>
    <div class='header'>
      <div class='row'>
        <div class='col'>
          <div class='logotype'>
            <div class='image-wrapper'>
              <%= link_to '/', class: 'image' do %>
                <%= image_tag 'logotype.png', class: 'img-fluid' %>
              <% end %>
            </div>
            <div class='site-name-wrapper d-none d-lg-block'>
              <%= link_to I18n.t('app.title').html_safe, I18n.locale == :ru ? '/' : "/#{I18n.locale}", class: 'site-name' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
